body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;



}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.navDiv {
  width: 100%;
  font-family: 'Poiret One', cursive;
  // font-family: 'Orienta', sans-serif;
  background: white;
  color: #585858;
  display: flex;
}

.logoDiv {
  width: 50%;
  margin-left: 0;
}

.optionsDiv {
  width: 50%;
  justify-content: flex-end;
  align-content: flex-end;

}

.link {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

.options{
  display: flex;
  justify-content: flex-end;
}


.problemsContainer{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  background: #f8f8f8;
  width: 100%;
  height: 500px;
  padding: 40px;
  justify-content: center;


  .innerProblemsDiv{
    display: flex;
    width: 40%;
    justify-content: center;
    flex-flow: row wrap;
   
  }

  .problemBubble{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0 20px 0 20px;
    margin: 10px;
    font-size: 1rem;
    color: gray;
    background: white;
  }


  .problemsBlurb{
    font-size: 2rem;
    color:  #585858;
  }
}

