.footer-container{
    position: absolute;
    display: block;
    // bottom: 0;
    top: 220%;
    width: 100%;
    background: #f8f8f8;
    // margin-top: 5rem;

    .footer-text{
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        
    }
}
