.problem-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .problem-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: $grey-dark;
    padding-bottom: 3rem;
    border-bottom: 1px solid $grey-light;

    h1 {
      padding-right: 2rem;
      font-family: 'Orienta', Arial, Helvetica, sans-serif;
    }
    p {
      padding-left: 2rem;
      max-width: 60%;
    }
  }

  .problem-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2rem 2rem 2rem;
    color: $grey-dark;

    .problem-solutions-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-right: 3rem;
      margin: 3rem;
      border-right: 1px solid $grey-white;

      h4 {
        padding-bottom: 1rem;
        font-family: 'Orienta', Arial, Helvetica, sans-serif;
      }
      .problem-solutions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .problem-solutions-bubble {
          margin: 1rem;
          border-radius: 30px;
          border: 1px solid $grey-light;
          font-size: 1.6rem;
          padding: 1rem 2rem;
          color: $grey-dark;
          background-color: $grey-white;
        }
      }
    }
    .problem-related-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $grey-dark;
      max-width: 40%;

      h4 {
        padding-bottom: 1rem;
        font-family: 'Orienta', Arial, Helvetica, sans-serif;
      }
      .problem-related-solutions {
        .problem-bubble {
          margin: 1rem;
          border-radius: 30px;
          border: 1px solid $grey-light;
          font-size: 1.6rem;
          max-height: 4.4rem;
          color: $grey-dark;
        }
      }
    }
    .solution-form {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $grey-light;
      padding-top: 3rem;

      h4 {
        font-family: 'Orienta', Arial, Helvetica, sans-serif;
      }
      button {
        padding: 0.8rem 3rem;
        background: $grey-light;
      }
    }
  }
}
