.login {
  display: flex;
  flex-direction: column;
  background: $grey-white;
  padding: 4rem;
  color: $grey-dark;

  h1 {
    padding-bottom: 2rem;
    font-size: 3.6rem;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  }
  h5 {
    padding-bottom: 3rem;
  }
  label {
    font-size: 1.4rem;
  }
  p {
    padding: 1rem;
    font-size: 1.4rem;
    a {
      font-size: 1.4rem;
      color: $grey-black;
    }
  }
  button {
    color: $grey-black;
  }
}
