.problem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .problem-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: $grey-dark;
    padding-bottom: 3rem;
    border-bottom: 1px solid $grey-light;

    @media (max-width: $mobile) {
      flex-flow: column;
    }

    h1 {
      padding-right: 2rem;
      font-family: 'Orienta', Arial, Helvetica, sans-serif;

      @media (max-width: $mobile) {
        padding: 3rem 0 3rem 0;
      }
    }
    p {
      padding-left: 2rem;
      max-width: 60%;

      @media (max-width: $mobile) {
        max-width: 90%;
      }
    }
  }

  .problem-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2rem 2rem 2rem;
    color: $grey-dark;

    .problem-related-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2rem 3rem;
      max-width: 70%;
      color: $grey-dark;

      h4 {
        padding-bottom: 1rem;
        font-family: 'Orienta', Arial, Helvetica, sans-serif;
      }
      .problem-related-solutions {
        .problem-bubble {
          margin: 1rem;
          border-radius: 30px;
          border: 1px solid $grey-light;
          font-size: 1.6rem;
          max-height: 4.4rem;
          color: $grey-dark;
        }
      }
    }
  }
  .solution-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 10rem 0;
    background: $grey-white;

    @media (max-width: $mobile) {
      flex-flow: column;
      margin: 2rem;
    }

    h2 {
      margin: 3rem 1rem;
      font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    }
    button {
      padding: 0.8rem 3rem;
      background: $grey-dark;
      color: white;
      // margin-left: .2rem;
    }
  }
}
