.signup {
  display: flex;
  flex-direction: column;
  background: $grey-white;
  padding: 4rem;
  color: $grey-dark;

  h1 {
    padding-bottom: 2rem;
    font-size: 3.6rem;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;

  }
  label {
    font-size: 1.4rem;
  }
    button {
      margin-left: 2rem;
    color: $grey-black;
  }
}
