.problem-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $grey-white;
  padding: 3rem 0 10rem 0;

  h2 {
    margin: 3rem;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h6 {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
    input {
      margin: 0;
    }
    textarea {
      padding: 0.6rem;
      border-radius: 4px;
      border: 1px solid $grey-light;
      font-family: 'Orienta', Arial, Helvetica, sans-serif;
      font-size: 1.4rem;
      color: $grey-dark;
      -webkit-tap-highlight-color: transparent;
    }
    button {
      background: $grey-dark;
      color: white;
      margin-left: .2rem;
      padding: 0.8rem 3rem;

      &:hover{
        background: white;
        color: #585858;
        border: 1px solid #585858;
      }
    }
  }
}
